
                    <div style="width:85%;margin: 40px auto; " class="panel panel-default">
                        <div class="panel-heading" style="text-align: center; font-size: x-large; background-image: linear-gradient(to bottom, #2E1205, #EB010B); color: white">
                            خدمات الإدارة
                        </div>
                        <!-- .panel-heading -->
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="text-align: center;background-image: linear-gradient(to bottom, #732603, #351d1e); color: white">
                                        <h4 class="panel-title">
                                            <a style="font-size: medium;" data-toggle="collapse" data-parent="#accordion"
                                                href="#collapseOne">(دور خدمة (قائد منوب -ضابط عظيم </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body" style="width: 500px;height: 727px; margin: auto;">
                                            <a target="_blank" href=<%="../assets/nobtgyat/"+nobatImgs.manob%>>
                                                <img width="500" height="680" src=<%="../assets/nobtgyat/"+nobatImgs.manob%> alt="">
                                            </a>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" style="text-align: center;background-image: linear-gradient(to bottom, #732603, #3b1d1e); color: white">
                                                <h4 class="panel-title">
                                                    <a style="font-size: medium;" data-toggle="collapse" data-parent="#accordion"
                                                        href="#collapseThree">(دور خدمة (ضابط نوبتجى الإدارة - ضابط نوبتجى التعيين - ضابط خفيف الحركة </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse in">
                                                <div class="panel-body" style="width: 500px;height: 750px; margin: auto;">
                                                    <a target="_blank" href=<%="../assets/nobtgyat/"+nobatImgs.dabetnob%>>
                                                        <img width="500" height="680px" src=<%="../assets/nobtgyat/"+nobatImgs.dabetnob%> alt="">
                                                    </a> </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" style="text-align: center;background-image: linear-gradient(to bottom, #732603, #3b1d1e); color: white">
                                                <h4 class="panel-title">
                                                    <a style="font-size: medium;" data-toggle="collapse" data-parent="#accordion"
                                                        href="#collapseThree">مخطط اللجنة الشهرية</a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse in">
                                                <div class="panel-body" style="width: 500px;height: 700px; margin: auto;">
                                                    <a target="_blank" href=<%="../assets/nobtgyat/"+nobatImgs.dabeteda%>>
                                                        <img width="500" height="680" src=<%="../assets/nobtgyat/"+nobatImgs.dabeteda%> alt="">
                                                    </a> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <!-- .panel-body -->
